/* About.css */

.about-container {
    background-color: #1c2e26; /* Background color for the entire container */
    display: flex; /* Use flexbox */
    height: 86vh;
    flex-direction: column;
  }

  .top{
    justify-content: center;
    text-align: center;

    font-size: 25px;
    color: #f3f2eb;
  }

  .top h1 span{
    color: #007a5e;
  }
  
  .img2 {
    width: 500px;
    height: 500px;
    opacity: 0.8;
    float: right;
    margin-right: 40px;
  }

  .right{
    color:#f3f2eb;
    font-size: 25px;
    flex: 45%;
    margin-right: 40px;
    margin-left: 50px;

    font-size: 25px;
    font-weight: 500;
  }

  .left{
    flex: 45%;
    margin-right: 50px;
    margin-left: 30px;
  }

  .bottom{
    display: flex;
    flex-direction: row;
    margin-top:40px;

  }

  @media (max-width: 1021px) {
    .bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .left{
      width: 60%;
      margin-right: 50px;
      margin-left: 30px;
    }

    .about-container{
      height: 125vh;
    }
    
  }

  @media (max-width: 425px) {
    .bottom {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .left{
      width: 60%;
      margin-right: 50px;
      margin-left: 30px;
    }

    .about-container{
      height: 140vh;
      width: 100%;
    }
    
  }

  

  
  

  