/* About.css */

.about-container {
    background-color: #1c2e26; /* Background color for the entire container */
    display: flex; /* Use flexbox */
    height: 100vh;
    flex-direction: column;
  }

  .top{
    justify-content: center;
    text-align: center;

    font-size: 25px;
    color: #f3f2eb;
  }

  .top h1 span{
    color: #007a5e;
  }
  
  #img2 {
    width: 500px;
    height: 500px;
    opacity: 0.8;
    float: right;
    margin-right: 40px;
  }

  p {
    color:#f3f2eb;
    width: 700px;
    margin-left: 40px;
    font-size: 25px;
  }