/* About.css */

.about-container {
    background-color: #1c2e26; /* Background color for the entire container */
    display: flex; /* Use flexbox */
    height: 100vh;
    flex-direction: column;
  }

  .top{
    justify-content: center;
    text-align: center;

    font-size: 25px;
    color: #f3f2eb;;
  }

  .top h1 span{
    color: #007a5e;
  }
  
  