.bg {
  height: 80px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar {
  background-color: #f3f2eb;
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  /* width: calc(100vw - 60px); */
  margin: 0;
}

.left-section,
.right-section {
  display: flex; /* Use Flexbox */
  align-items: center; /* Center items vertically */
}

ul {
  list-style-type: none; /* Remove default list styles */
  margin: 0;
  padding: 0;
  display: flex; /* Use Flexbox */
  align-items: center; /* Align list items vertically */
}

li {
  margin-right: 40px; /* Add spacing between list items */
}

a {
  color: black; /* Text color for the links */
  text-decoration: none; /* Remove underline from links */
  font-size: 18px; /* Font size for the links */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

button {
  padding: 15px 30px; /* Reduce padding to decrease button size */
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px; /* Reduce font size to decrease button size */
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: #bdd9cc;
  color: white;
  box-shadow: #bdd9cc 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: #bdd9cc;
  color: white;
  box-shadow: none;
  transform: translateY(10px);
  transition: 100ms;
}
/* Navbar.css */

.logo {
  height: 40px; /* Adjust the height of the logo as needed */
  margin-right: 10px; /* Add spacing between the logo and Clinic All */
}

.clinicALL {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: bold;
}

.ALL {
  color: #007a5e;
}

@media (max-width: 552px) {
    /* Add CSS for dropdown menu */
.navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f3f2eb;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-menu.open {
    display: flex;
  }
  
  .navbar-menu li {
    margin-bottom: 10px;
  }
  
  
  .hamburger {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .hamburger svg {
    font-size: 24px;
  }
  
  .about{
    display: none;
  }
  .Login_Button {
    display: block !important;
  }
}
  /* Hide hamburger icon on screens larger than 552px */
  @media (min-width: 553px) {
    .hamburger {
      display: none;
    }
  }
  