.bg1 {
  height: 80px;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar1 {
  background-color: #f3f2eb;
  padding: 10px 30px 10px 30px;
  display: flex;
  justify-content: space-between;
  /* width: calc(100vw - 60px); */
  margin: 0;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.left-section1,
.right-section1 {
  display: flex; /* Use Flexbox */
  align-items: center; /* Center items vertically */
  flex-direction: row;
}

.right-section1{
  margin-right: 40px;
}

.icon{
  height: 25px;
  margin-right: 10px;
  margin-left: 15px;
}

.icon:hover{
  cursor: pointer;
}




a1 {
  color: black; /* Text color for the links */
  text-decoration: none; /* Remove underline from links */
  font-size: 20px; /* Font size for the links */
  margin-right: 40px;
}

a1:hover {
  text-decoration: underline; /* Add underline on hover */
  cursor: pointer;
}

button {
  padding: 15px 30px; /* Reduce padding to decrease button size */
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px; /* Reduce font size to decrease button size */
  transition: all 0.5s ease;
}

.clinicALL1:hover{
  cursor: pointer;
}

button:hover {
  letter-spacing: 3px;
  background-color: #bdd9cc;
  color: white;
  box-shadow: #bdd9cc 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: #bdd9cc;
  color: white;
  box-shadow: none;
  transform: translateY(10px);
  transition: 100ms;
}
/* Navbar.css */

.logo1 {
  height: 40px; /* Adjust the height of the logo as needed */
  margin-right: 10px; /* Add spacing between the logo and Clinic All */
}

.clinicALL1 {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: bold;
}

.ALL1 {
  color: #007a5e;
}

@media(max-width:530px){
  .about1{
    visibility: hidden;
  }
}

@media(max-width:375px){
  .profile_button{
    visibility: hidden;
  }

  

}

.Hero{
  background-color: #f3f2eb;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.Vertical_nav{
  width: 19%;
  height: 100%;
  border: solid;
  border-color: black;
  border-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.NAV_BTN1{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  transition: 0.4s;
}

.NAV_BTN1:hover{
  cursor: pointer;
  background-color: #007a5e;
  opacity: 0.8;
  color: #f3f2eb;
}


.NAV_BTN2:hover{
  cursor: pointer;
  background-color: #007a5e;
  opacity: 0.8;
  color: #f3f2eb;
}

.NAV_BTN3:hover{
  cursor: pointer;
  background-color:#007a5e;
  opacity: 0.8;
  color: #f3f2eb;
}

.NAV_BTN2{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  transition: 0.4s;


}

.NAV_BTN3{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  transition: 0.4s;


}

.EMPTY_BOX{
  height: 64.5%;
}

.LOGOUT{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  transition: 0.4s;
  border-width: 1px;
  color: red;
}

.LOGOUT:hover{
  cursor: pointer;
  background-color:#007a5e;
  opacity: 0.8;
  color: #f3f2eb;
}



