.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px; /* Adjust padding as needed */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 50px; /* Adjust logo size as needed */
    height: auto;
    margin-right: 10px; /* Add spacing between logo and company name */
  }
  
  .navbar-company-name {
    font-size: 26px;
    font-weight: bold;
  }
  
  .navbar-right .navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-right .navbar-menu li {
    margin-left: 20px; /* Add spacing between profile/find options */
  }
  
  .navbar-right .navbar-menu li a {
    text-decoration: none;
    color: #333333; /* Adjust color as needed */
    font-weight: bold;
    font-size: 24px;
  }
  
.icon
{
    font-size: 24px;
}

  .btn {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
    width: 200px; /* Set width to a fixed value */
  }
  
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }
   .left1 {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left:40px;
   
  }
  
  .left1 button {
    margin-bottom: 100px; /* Add spacing between buttons */
  }
  .right1{
     outline: 2px solid black;
     width: 60%;
     margin-left: 100px;
     margin-top:20px;
     margin-right: 30px;
  }
  .parent{
    display:flex;
    flex-direction: row;
  }