/* Navbar styles */
.navbar2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f3f2eb;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  
  .left-section2 {
    display: flex;
    align-items: center;
  }
  
  .right-section2 {
    display: flex;
    align-items: center;
  }
  
  .icon2 {
    height: 25px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  a1 {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
  }
  
  a1:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .logo2 {
    height: 40px;
    margin-right: 10px;
  }
  
  .clinicALL2 {
    font-size: 30px;
    font-family: Montserrat;
    font-weight: bold;
  }
  
  /* Input page styles */
  .input-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .input-group label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .input-group input,
  .input-group select,
  .input-group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 16px;
  }
  
  .input-group input[type="file"] {
    padding: 5px;
  }
  
  .input-group select {
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right #fff;
    background-size: 20px;
  }
  
  .input-group textarea {
    min-height: 100px;
  }
  
  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
    color: #999;
  }
  
  button[type="submit"] {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  